<h1>New item</h1>

<%= form_for :todo_item, url: todo_items_path do |f| %>

    <% if @todo_item.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@todo_item.errors.count, "error") %> prohibited
            this to do item from being saved:
          </h2>
          <ul>
            <% @todo_item.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :text %><br>
      <%= f.text_area :text %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Back', todo_items_path %>