<h1>My To do list</h1>

<%= link_to 'Add to do item', new_todo_item_path %>
<br />
<br />

<table>
  <tr>
    <th>Title</th>
    <th>Due date</th>
  </tr>

  <% @todo_items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.due_date %></td>
        <td><%= link_to 'Show', todo_item_path(item) %></td>
        <td><%= link_to 'Edit', edit_todo_item_path(item) %></td>
        <td><%= link_to 'Destroy', todo_item_path(item),
                method: :delete,
                data: { confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>